#  Extract dataset and attribute definitions - 2020-10-08
##  from supportPrim - STATA files

In [1]:
# auto sugestion with tab
%config IPCompleter.greedy=True
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/lhome/amardj/ISM/python_code/es_scripts'

### Define the date format to be appended with file names

#### System defined current date

In [3]:
import datetime as datetime
sys_date = datetime.datetime.today().strftime( '%y%m%d')

#### User-defined date

In [4]:
user_date = '201008'

In [5]:
time_stamp = '_'+ sys_date   # user_date

### Location of raw data & generated data

In [6]:
# Users⁩ ▸ ⁨amar⁩ ▸ ⁨Dropbox⁩ ▸ ⁨SupportPRIM⁩ ▸ ⁨CBR_evaluation⁩ ▸ ⁨experiments⁩⁩ ▸ ⁨2019_10_14

root_dir = '/lhome/amardj/ISM/python_code/es_scripts/resources/backend_supportprim_data/2020-10/'
raw_data_loc = root_dir+ 'raw/'
gen_data_loc = root_dir+ 'gen/'
cbr_data_loc = root_dir+ 'cbr/'

In [7]:
index_name = 'id'

In [8]:
file_name_labeled = raw_data_loc + 'supportprim_dataset_201008.dta' 
#Supportprim_merged_labels_new_treatment_24.01.2019_updated.dta'
#file_name_numeric = raw_data_loc + 'Supportprim_merged_labels_new_treatment_09.01.2019_updated_numeric.dta'

In [9]:
#file_labels = 'SupportPRIM_LCA_variables_vers2.dta'

## Import stata files 'xxx.dta' for creating python pandas DataFrames

In [10]:
#df_labeled = pd.read_stata(file_name_labeled, convert_categoricals=False, index_col=index_name)
df_labeled = pd.read_stata(file_name_labeled) #, index_col=index_name)
#df_numeric = pd.read_stata(file_name_numeric, index_col=index_name)
print(df_labeled.shape) # (506, 292)
#print(df_numeric.shape) # (506, 292)

(51, 353)

In [11]:
df_labeled.body_main_1

0                   hip
1                  knee
2                  back
3                  back
4                  neck
5     multisite/complex
6     multisite/complex
7                  back
8                  neck
9              shoulder
10                 knee
11                  hip
12                 neck
13             shoulder
14             shoulder
15             shoulder
16    multisite/complex
17    multisite/complex
18                 neck
19    multisite/complex
20    multisite/complex
21                 back
22    multisite/complex
23                  hip
24    multisite/complex
25                 neck
26             shoulder
27                  hip
28             shoulder
29                 back
30                  hip
31                  hip
32                 back
33             shoulder
34                 knee
35                  hip
36    multisite/complex
37             shoulder
38                 back
39             shoulder
40                 neck
41             shoulder
42                 back
43                 knee
44                 neck
45    multisite/complex
46                  hip
47    multisite/complex
48                 neck
49                 back
50                 neck
Name: body_main_1, dtype: category
Categories (6, object): [neck < shoulder < back < hip < knee < multisite/complex]

## Remove '_merege' cloumn form both the dataframes if any

In [12]:
drop_col_name = '_merge'
if drop_col_name in df_labeled.columns:
    df_labeled.drop( columns=[drop_col_name], axis=1, inplace=True)
    print(' The DataFrame contains column named as : ',drop_col_name, ' - Action : Removed')
else :
    print(' The DataFrame does not contain any column named as : "',drop_col_name,'"')
    
#if drop_col_name in df_numeric.columns:
#    df_numeric.drop( columns=[drop_col_name], axis=1, inplace=True)
#    print(' The DataFrame contains column named as : ',drop_col_name, ' - Action : Removed')
#else :
#    print(' The DataFrame does not contain any column named as : "',drop_col_name,'"')

 The DataFrame does not contain any column named as : " _merge "

## Sort the dataframe column names - alfabetical order

In [13]:
df_labeled = df_labeled.reindex( sorted(df_labeled.columns), axis=1)
print(' Shape of old Dataframe : ', df_labeled.shape)  # (506, 292)
features_labels = df_labeled.columns

#df_numeric = df_numeric.reindex( sorted(df_numeric.columns), axis=1)
#print(' Shape of old Dataframe : ', df_numeric.shape)  # (506, 292)
#features_numeric = df_numeric.columns

# Shape of old Dataframe :  (175, 355)

 Shape of old Dataframe :  (51, 353)

In [14]:
df_labeled.head()

,activity_1,age_1,back_nevro_pow_1,back_nevro_reflex_1,back_nevro_sens_1,back_slr_1,birth_year,bmi_1,body_main_1,childhood_1,...,treat_setting_self_some_3,treatmentfactor_patient_3,walk_aid_1,weight_1,work_ability_1,work_ability_3,work_ability_w2,work_ability_w4,work_ability_w8,work_type_1
0,slightly reduced,22.0,NaN,NaN,NaN,NaN,1998,27.636057,hip,very good,...,NaN,Fornyet vurdering hos en annen fysioterapeut,no walkaid,78,10,9,9.0,9.0,NaN,NaN
1,slightly reduced,23.0,NaN,NaN,NaN,NaN,1997,18.339100,knee,moderate,...,NaN,Har føltes litt som manglende bedring ettersom...,no walkaid,53,6,5,3.0,3.0,7.0,NaN
2,not reduced,21.0,NaN,NaN,NaN,not applicable,1999,20.160700,back,good,...,2.0,Foreløpig venter jeg på oppfølging fra spesial...,no walkaid,69,8,9,NaN,NaN,NaN,work demand much walking
3,quite reduced,27.0,NaN,NaN,NaN,no,1993,25.217360,back,difficult,...,2.0,Covid-19 og feil fokus på smerter fra behandler,no walkaid,67,6,7,5.0,5.0,4.0,mostly seated
4,very reduced,31.0,NaN,NaN,NaN,NaN,1989,24.464602,neck,very good,...,2.0,tror dessverre situasjonen ikke kan løses på s...,no walkaid,65,0,2,3.0,3.0,2.0,mostly seated

In [15]:
def replace_all_with( old, new, tempdf=df_labeled):
    temp = tempdf.replace({old: new}, regex=True)
    return temp

In [16]:
df_labeled.physio_id.head()

0    Adam Saso
1    Adam Saso
2    Adam Saso
3    Adam Saso
4    Adam Saso
Name: physio_id, dtype: object

In [17]:
df_labeled['physio_id'] = df_labeled['physio_id'].replace(' ', '_', regex=True).str.lower()
df_labeled['clinic_id'] = df_labeled['physio_id']

In [18]:
df_labeled.physio_id

0              adam_saso
1              adam_saso
2              adam_saso
3              adam_saso
4              adam_saso
5       alette_bade_rygh
6       alette_bade_rygh
7          astrid_holmen
8          astrid_holmen
9      fredrik_paulsberg
10     fredrik_paulsberg
11     fredrik_paulsberg
12     fredrik_paulsberg
13    gaute_alstad_sunde
14    gaute_alstad_sunde
15    gaute_alstad_sunde
16    gaute_alstad_sunde
17    gaute_alstad_sunde
18        helge_pedersen
19        helge_pedersen
20        helge_pedersen
21        helge_pedersen
22        helge_pedersen
23        helge_pedersen
24        helge_pedersen
25        helge_pedersen
26        helge_pedersen
27        marianne_bakka
28        marianne_bakka
29        marianne_bakka
30      vidar_guttormsen
31      vidar_guttormsen
32      vidar_guttormsen
33      vidar_guttormsen
34      vidar_guttormsen
35      vidar_guttormsen
36      vidar_guttormsen
37      vidar_guttormsen
38      vidar_guttormsen
39      vidar_guttormsen
40             support15
41             support19
42             support23
43             support24
44             support24
45             support26
46             support28
47             support28
48             support31
49              support7
50              support7
Name: physio_id, dtype: object

In [19]:
cols = ['physio_id', 'journal_id', 'birth_year']
df_labeled['patient_id'] = df_labeled[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
df_labeled['patient_id'].tolist()

['adam_saso_38888_1998',
 'adam_saso_39151_1997',
 'adam_saso_39178_1999',
 'adam_saso_39185_1993',
 'adam_saso_39442_1989',
 'alette_bade_rygh_1808_1969',
 'alette_bade_rygh_1810_1989',
 'astrid_holmen_8853_1968',
 'astrid_holmen_39465_1967',
 'fredrik_paulsberg_31903_1972',
 'fredrik_paulsberg_31910_1968',
 'fredrik_paulsberg_31992_1961',
 'fredrik_paulsberg_32035_1969',
 'gaute_alstad_sunde_2748_1996',
 'gaute_alstad_sunde_8017_1973',
 'gaute_alstad_sunde_8092_1982',
 'gaute_alstad_sunde_9145_1975',
 'gaute_alstad_sunde_9327_1955',
 'helge_pedersen_1_1963',
 'helge_pedersen_2_1965',
 'helge_pedersen_5_1983',
 'helge_pedersen_7_1956',
 'helge_pedersen_8_1967',
 'helge_pedersen_9_1966',
 'helge_pedersen_10_1964',
 'helge_pedersen_11_1966',
 'helge_pedersen_12_1950',
 'marianne_bakka_31894_1956',
 'marianne_bakka_31909_1995',
 'marianne_bakka_32177_1961',
 'vidar_guttormsen_11785_1956',
 'vidar_guttormsen_17504_1973',
 'vidar_guttormsen_26296_1962',
 'vidar_guttormsen_30160_1992',
 'vidar_guttormsen_31911_1995',
 'vidar_guttormsen_31912_1971',
 'vidar_guttormsen_31959_1969',
 'vidar_guttormsen_32015_1965',
 'vidar_guttormsen_32110_1959',
 'vidar_guttormsen_32111_1998',
 'support15_6245_1969',
 'support19_5191_1968',
 'support23_3_1950',
 'support24_101_1984',
 'support24_102_1978',
 'support26_1001_1950',
 'support28_2000_1973',
 'support28_2002_1981',
 'support31_32359_1979',
 'support7_3816_1984',
 'support7_5655_1992']

In [20]:
df_labeled.index.name = 'id'
df_labeled.head()

,activity_1,age_1,back_nevro_pow_1,back_nevro_reflex_1,back_nevro_sens_1,back_slr_1,birth_year,bmi_1,body_main_1,childhood_1,...,walk_aid_1,weight_1,work_ability_1,work_ability_3,work_ability_w2,work_ability_w4,work_ability_w8,work_type_1,clinic_id,patient_id
id,,,,,,,,,,,,,,,,,,,,,
0,slightly reduced,22.0,NaN,NaN,NaN,NaN,1998,27.636057,hip,very good,...,no walkaid,78,10,9,9.0,9.0,NaN,NaN,adam_saso,adam_saso_38888_1998
1,slightly reduced,23.0,NaN,NaN,NaN,NaN,1997,18.339100,knee,moderate,...,no walkaid,53,6,5,3.0,3.0,7.0,NaN,adam_saso,adam_saso_39151_1997
2,not reduced,21.0,NaN,NaN,NaN,not applicable,1999,20.160700,back,good,...,no walkaid,69,8,9,NaN,NaN,NaN,work demand much walking,adam_saso,adam_saso_39178_1999
3,quite reduced,27.0,NaN,NaN,NaN,no,1993,25.217360,back,difficult,...,no walkaid,67,6,7,5.0,5.0,4.0,mostly seated,adam_saso,adam_saso_39185_1993
4,very reduced,31.0,NaN,NaN,NaN,NaN,1989,24.464602,neck,very good,...,no walkaid,65,0,2,3.0,3.0,2.0,mostly seated,adam_saso,adam_saso_39442_1989

# Write the complete updated dataset to an excel sheet
## for: labeled and numeric dataset

In [21]:
df_labeled.to_csv( gen_data_loc+'1_sp_dataset_labeled'+ time_stamp +'.csv', index=True)
#df_numeric.to_csv( gen_data_loc+'1_sp_dataset_numeric'+ time_stamp +'.csv', index=True)

## Write attribute and definitions of supportPrim dataset to a excel file

In [22]:
stata_labels = pd.io.stata.StataReader( file_name_labeled).variable_labels()
print('Data type for STATA labels is : {}'.format(type(stata_labels))) # Data type for STATA labels is : <class 'dict'>

series_stata_def = pd.Series(stata_labels, name='definition')
series_stata_def.index.name = 'attribute'
series_stata_def.reset_index();

# sort by attribute name
series_stata_def.sort_index( inplace=True)
series_stata_def.to_csv( gen_data_loc+'1_sp_dataset_labeled_attribute_definition'+ time_stamp +'.csv')

Data type for STATA labels is : <class 'dict'>

/lhome/amardj/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  # Remove the CWD from sys.path while we load stuff.

def_df = pd.read_excel('support_prim_attribute_definition.xlsx', index_col='sln')
def_df.head()

stata_labels = pd.io.stata.StataReader( file_name_numeric).variable_labels()
print('Data type for STATA labels is : {}'.format(type(stata_labels))) # Data type for STATA labels is : <class 'dict'>

series_stata_def = pd.Series(stata_labels, name='definition')
series_stata_def.index.name = 'attribute'
series_stata_def.reset_index();

# sort by attribute name
series_stata_def.sort_index( inplace=True)
series_stata_def.to_csv( gen_data_loc+'sp_dataset_numeric_attribute_definition'+ time_stamp +'.csv')

In [23]:
df_labeled.columns.tolist();

test = pd.io.stata.StataReader( file_name_numeric)

test.read()

In [24]:
df_labeled.columns.tolist()

['activity_1',
 'age_1',
 'back_nevro_pow_1',
 'back_nevro_reflex_1',
 'back_nevro_sens_1',
 'back_slr_1',
 'birth_year',
 'bmi_1',
 'body_main_1',
 'childhood_1',
 'como_asthma_1',
 'como_cancer_1',
 'como_count_1',
 'como_dementhia_1',
 'como_diabetes_1',
 'como_fatigue_1',
 'como_headache_1',
 'como_heart_1',
 'como_neuro_1',
 'como_osteoporosis_1',
 'como_other_1',
 'como_other_spec_1',
 'como_psych_1',
 'como_ra_1',
 'como_stomach_pain_1',
 'compliance_3',
 'consultation_3',
 'date_baseline_patient',
 'diagnose_1',
 'discussed_employer_3',
 'discussed_family_3',
 'discussed_nav_3',
 'discussed_occupational_3',
 'education_1',
 'education_othersp_1',
 'employ_1',
 'employ_assess_1',
 'employ_assess_3',
 'employ_disability_1',
 'employ_disability_3',
 'employ_disabilityp_1',
 'employ_disabilityp_3',
 'employ_paid_1',
 'employ_paid_3',
 'employ_paidp_1',
 'employ_paidp_3',
 'employ_parentleave_1',
 'employ_parentleave_3',
 'employ_retired_1',
 'employ_retired_3',
 'employ_sick_1',
 'employ_sick_3',
 'employ_sickp_1',
 'employ_sickp_3',
 'employ_stud_1',
 'employ_stud_3',
 'employ_unempl_1',
 'employ_unpaid_1',
 'employ_unpaid_3',
 'eq5d_adl_1',
 'eq5d_adl_3',
 'eq5d_care_1',
 'eq5d_care_3',
 'eq5d_depr_1',
 'eq5d_depr_3',
 'eq5d_pain_1',
 'eq5d_pain_3',
 'eq5d_walk_1',
 'eq5d_walk_3',
 'ethnicity_1',
 'eval_goal_3',
 'family_1',
 'family_child_1',
 'fear_1',
 'gender_1',
 'gpe_3',
 'gpe_w2',
 'gpe_w4',
 'gpe_w8',
 'health_lit_info_1',
 'health_lit_sit_1',
 'height_1',
 'hscl_q10_1',
 'hscl_q10_3',
 'hscl_q1_1',
 'hscl_q2_1',
 'hscl_q2_3',
 'hscl_q3_1',
 'hscl_q3_3',
 'hscl_q4_1',
 'hscl_q4_3',
 'hscl_q5_1',
 'hscl_q5_3',
 'hscl_q6_1',
 'hscl_q6_3',
 'hscl_q7_1',
 'hscl_q7_3',
 'hscl_q8_1',
 'hscl_q8_3',
 'hscl_q9_1',
 'hscl_q9_3',
 'hscl_score_1',
 'hscl_score_3',
 'icpc_letter_1',
 'icpc_nr_1',
 'journal_id',
 'knee_hydrops_1',
 'knee_trumatic_1',
 'marital_1',
 'medic_1',
 'medic_3',
 'medic_albyle_1',
 'medic_albyle_3',
 'medic_ibux_1',
 'medic_ibux_3',
 'medic_number_1',
 'medic_number_3',
 'medic_other_1',
 'medic_other_3',
 'medic_other_spec_1',
 'medic_other_spec_3',
 'medic_paracet_1',
 'medic_paracet_3',
 'mskhq_pa_1',
 'mskhq_pa_3',
 'mskhq_q10_1',
 'mskhq_q10_3',
 'mskhq_q11_1',
 'mskhq_q11_3',
 'mskhq_q12_1',
 'mskhq_q12_3',
 'mskhq_q13_1',
 'mskhq_q13_3',
 'mskhq_q14_1',
 'mskhq_q14_3',
 'mskhq_q1_1',
 'mskhq_q1_3',
 'mskhq_q2_1',
 'mskhq_q2_3',
 'mskhq_q3_1',
 'mskhq_q3_3',
 'mskhq_q4_1',
 'mskhq_q4_3',
 'mskhq_q5_1',
 'mskhq_q5_3',
 'mskhq_q6_1',
 'mskhq_q6_3',
 'mskhq_q7_1',
 'mskhq_q7_3',
 'mskhq_q8_1',
 'mskhq_q8_3',
 'mskhq_q9_1',
 'mskhq_q9_3',
 'mskhq_score_1',
 'mskhq_score_3',
 'mskt_q10_1',
 'mskt_q1_1',
 'mskt_q2_1',
 'mskt_q3_1',
 'mskt_q4_1',
 'mskt_q5_1',
 'mskt_q6_1',
 'mskt_q7_1',
 'mskt_q8_1',
 'mskt_q9_1',
 'mskt_risk_1',
 'mskt_score_1',
 'neck_conclusion_1',
 'neck_nevro_pow_1',
 'neck_nevro_reflex_1',
 'neck_nevro_sens_1',
 'neck_spurling_1',
 'oreb_q10_1',
 'oreb_q1_1',
 'oreb_q2_1',
 'oreb_q2_3',
 'oreb_q2_w2',
 'oreb_q2_w4',
 'oreb_q2_w8',
 'oreb_q3_1',
 'oreb_q4_1',
 'oreb_q5_1',
 'oreb_q6_1',
 'oreb_q7_1',
 'oreb_q8_1',
 'oreb_q9_1',
 'oreb_score_1',
 'out01',
 'pain_continuous_1',
 'pain_continuous_3',
 'pain_duration_1',
 'pain_freq_1',
 'pain_freq_3',
 'pain_lweek_1',
 'pain_variation_1',
 'pain_variation_3',
 'pain_vary_1',
 'pain_vary_3',
 'painsite_elbow_1',
 'painsite_elbow_3',
 'painsite_feet_1',
 'painsite_feet_3',
 'painsite_hand_1',
 'painsite_hand_3',
 'painsite_head_1',
 'painsite_head_3',
 'painsite_knee_1',
 'painsite_knee_3',
 'painsite_lback_1',
 'painsite_lback_3',
 'painsite_neck_1',
 'painsite_neck_3',
 'painsite_number_1',
 'painsite_number_3',
 'painsite_shou_1',
 'painsite_shou_3',
 'painsite_thigh_1',
 'painsite_thigh_3',
 'painsite_uback_1',
 'painsite_uback_3',
 'patient_therapist_q1_3',
 'patient_therapist_q2_3',
 'patient_therapist_q3_3',
 'physio_id',
 'physio_spec_3',
 'pseq_q1_1',
 'pseq_q1_3',
 'pseq_q1_w2',
 'pseq_q1_w4',
 'pseq_q1_w8',
 'pseq_q2_1',
 'pseq_q2_3',
 'pseq_q2_w2',
 'pseq_q2_w4',
 'pseq_q2_w8',
 'pseq_score_1',
 'pseq_score_3',
 'psfs1_1',
 'psfs1_3',
 'psfs1_act_1',
 'psfs1_act_3',
 'psfs1_act_w2',
 'psfs1_act_w4',
 'psfs1_act_w8',
 'psfs1_w2',
 'psfs1_w4',
 'psfs1_w8',
 'qol15D_q14_vital_1',
 'qol15D_q14_vital_3',
 'qol15D_q5_sleep_1',
 'qol15D_q5_sleep_3',
 'red_flag_cancer_1',
 'red_flag_nightpain_1',
 'red_flag_urination_1',
 'red_flag_weight_1',
 'shoulder_passive_extrot_1',
 'smoking_1',
 'treat_active_1_much_3',
 'treat_active_1_none_3',
 'treat_active_1_some_3',
 'treat_active_2_much_3',
 'treat_active_2_none_3',
 'treat_active_2_some_3',
 'treat_active_3_much_3',
 'treat_active_3_none_3',
 'treat_active_3_some_3',
 'treat_active_4_much_3',
 'treat_active_4_none_3',
 'treat_active_4_some_3',
 'treat_active_5_much_3',
 'treat_active_5_none_3',
 'treat_active_5_some_3',
 'treat_active_6_much_3',
 'treat_active_6_none_3',
 'treat_active_6_some_3',
 'treat_advice_10_much_3',
 'treat_advice_10_none_3',
 'treat_advice_10_some_3',
 'treat_advice_1_much_3',
 'treat_advice_1_none_3',
 'treat_advice_1_some_3',
 'treat_advice_2_much_3',
 'treat_advice_2_none_3',
 'treat_advice_2_some_3',
 'treat_advice_3_much_3',
 'treat_advice_3_none_3',
 'treat_advice_3_some_3',
 'treat_advice_4_much_3',
 'treat_advice_4_none_3',
 'treat_advice_4_some_3',
 'treat_advice_5_much_3',
 'treat_advice_5_none_3',
 'treat_advice_5_some_3',
 'treat_advice_6_much_3',
 'treat_advice_6_none_3',
 'treat_advice_6_some_3',
 'treat_advice_7_much_3',
 'treat_advice_7_none_3',
 'treat_advice_7_some_3',
 'treat_advice_8_much_3',
 'treat_advice_8_none_3',
 'treat_advice_8_some_3',
 'treat_advice_9_much_3',
 'treat_advice_9_none_3',
 'treat_advice_9_some_3',
 'treat_belief_1',
 'treat_benefit_3',
 'treat_contin_3',
 'treat_desc1_3',
 'treat_desc2_3',
 'treat_discuss_gp_3',
 'treat_discuss_other_3',
 'treat_discuss_physio_3',
 'treat_discuss_psycho_3',
 'treat_discuss_specialist_3',
 'treat_expect_3',
 'treat_goal_1',
 'treat_home_much_3',
 'treat_home_none_3',
 'treat_home_some_3',
 'treat_passive_joint_much_3',
 'treat_passive_joint_none_3',
 'treat_passive_joint_some_3',
 'treat_passive_massage_much_3',
 'treat_passive_massage_none_3',
 'treat_passive_massage_some_3',
 'treat_passive_shockwave_much_3',
 'treat_passive_shockwave_none_3',
 'treat_passive_shockwave_some_3',
 'treat_passive_stretch_much_3',
 'treat_passive_stretch_none_3',
 'treat_passive_stretch_some_3',
 'treat_passive_trigger_much_3',
 'treat_passive_trigger_none_3',
 'treat_passive_trigger_some_3',
 'treat_setting_group_much_3',
 'treat_setting_group_none_3',
 'treat_setting_group_some_3',
 'treat_setting_individual_much_3',
 'treat_setting_individual_none_3',
 'treat_setting_individual_some_3',
 'treat_setting_self_much_3',
 'treat_setting_self_none_3',
 'treat_setting_self_some_3',
 'treatmentfactor_patient_3',
 'walk_aid_1',
 'weight_1',
 'work_ability_1',
 'work_ability_3',
 'work_ability_w2',
 'work_ability_w4',
 'work_ability_w8',
 'work_type_1',
 'clinic_id',
 'patient_id']

df_labeled.eq5d_1

In [25]:
outcome_list = [
'out01',
#'out02'
]

In [26]:
df_labeled[outcome_list][:10]

    out01
id
0     0.0
1     0.0
2     NaN
3     0.0
4     0.0
5     1.0
6     0.0
7     1.0
8     1.0
9     0.0

In [27]:
df_attri = pd.read_csv( gen_data_loc+'1_sp_dataset_labeled_attribute_definition'+ time_stamp +'.csv')

In [28]:
series_stata_def

attribute
activity_1             Hvor redusert er ditt daglige aktivitetsnivå p...
age_1
back_nevro_pow_1                                          Redusert kraft
back_nevro_reflex_1                                   Unormale reflekser
back_nevro_sens_1                                  Redusert sensibilitet
                                             ...
work_ability_3                                               Arbeidsevne
work_ability_w2                                              Arbeidsevne
work_ability_w4                                              Arbeidsevne
work_ability_w8                                              Arbeidsevne
work_type_1            Hvordan vil du beskrive arbeidet ditt (lønnet ...
Name: definition, Length: 353, dtype: object

In [29]:
stata_labels = pd.io.stata.StataReader( file_name_labeled).variable_labels()
print('Data type for STATA labels is : {}'.format(type(stata_labels))) # Data type for STATA labels is : <class 'dict'>

series_stata_def = pd.DataFrame(data=stata_labels, index=[0])
#series_stata_def.index.name = 'attribute'
#series_stata_def.reset_index();

# sort by attribute name
#series_stata_def.sort_index( inplace=True)
#series_stata_def.to_csv( gen_data_loc+'sp_dataset_labeled_attribute_definition'+ time_stamp +'.csv')

Data type for STATA labels is : <class 'dict'>

In [30]:
series_stata_def.head()

,physio_id,journal_id,birth_year,psfs1_act_1,psfs1_1,treat_goal_1,body_main_1,neck_spurling_1,neck_nevro_pow_1,neck_nevro_sens_1,...,pseq_q2_w4,gpe_w4,psfs1_act_w8,psfs1_w8,work_ability_w8,oreb_q2_w8,pseq_q1_w8,pseq_q2_w8,gpe_w8,out01
0,Klinikk,Pasient nr,Fødselsår,smallAktivitet 1/small,smallAktivitet 1/small,Hva er hovedmålet med behandlingen,Definer hovedproblem (dette utløser spesifikke...,Spurling test positiv\t,Redusert kraft,Redusert sensibilitet,...,2. Jeg kan leve en normal livsstil til tross f...,Siden behandling startet er jeg :,smallAktivitet 1/small,smallAktivitet 1/small,Arbeidsevne,Hvor mye smerter har du hatt den SISTE UKEN?,1. Jeg kan gjøre noen former for arbeid til tr...,2. Jeg kan leve en normal livsstil til tross f...,Siden behandling startet er jeg :,

val = series_stata_def['treat_adl_q1_3']

val.values

In [31]:
#1_sp_dataset_labeled_190708.csv
file_labeled = gen_data_loc+'1_sp_dataset_labeled'+ time_stamp + '.csv'
#file_numeric = gen_data_loc+'1_sp_dataset_numeric'+ time_stamp + '.csv'

In [32]:
df_labeled = pd.read_csv(file_labeled, index_col='id')
#df_numeric = pd.read_csv(file_numeric, index_col='id')

In [33]:
df = df_labeled.copy( deep=True)

In [34]:
df.body_main_1.unique()

array(['hip', 'knee', 'back', 'neck', 'multisite/complex', 'shoulder'],
      dtype=object)

In [35]:
outcome_list = [
 'out01',
 #'out02'
]

In [36]:
df_labeled[outcome_list][:10]

    out01
id
0     0.0
1     0.0
2     NaN
3     0.0
4     0.0
5     1.0
6     0.0
7     1.0
8     1.0
9     0.0

df_labeled['target_2'] = df_labeled.apply(lambda row: row['outcome01_1'] + row['outcome01_2'] + row['outcome01_3'] + row['outcome01_4'], axis=1)

#df_labeled.apply(lambda row: row['outcome01_1'] + row['outcome01_2'] + row['outcome01_3'] + row['outcome01_4'], axis=1)
df_labeled['target_II'] = df_labeled[['outcome01_1', 'outcome01_2', 'outcome01_3', 'outcome01_4']].sum(axis=1, min_count=1)
df_labeled['target_III'] = df_labeled[['outcome02_1', 'outcome02_2', 'outcome02_3', 'outcome02_4']].sum(axis=1, min_count=1)

df_labeled['target_II'].count() # 277

df_labeled['target_III'].count() # 277

df = df_labeled.dropna( subset=['target_II'])

In [37]:
df.shape

(51, 355)

In [38]:
df.education_1.head()

id
0                       high school
1                       high school
2                       high school
3    up to 4 years higher education
4    up to 4 years higher education
Name: education_1, dtype: object

In [39]:
df.employ_1.head()

id
0     working or other
1     working or other
2     working or other
3     working or other
4           sick leave
Name: employ_1, dtype: object

In [40]:
df = df_labeled.copy( deep=True)

#### Remove a column named as "_merge", this is created due to merging process in stata

In [41]:
drop_col_name = '_merge'
if drop_col_name in df_labeled.columns:
    df.drop( columns=[drop_col_name], axis=1, inplace=True)
    df_labeled.drop( columns=[drop_col_name], axis=1, inplace=True)
    print(' The DataFrame contains column named as : ',drop_col_name)
else :
    print(' The DataFrame does not contain any column named as : "',drop_col_name,'"')

#if drop_col_name in df_numeric.columns:
#    df_numeric.drop( columns=[drop_col_name], axis=1, inplace=True)
#    print(' The DataFrame contains column named as : ',drop_col_name)
#else :
#    print(' The DataFrame does not contain any column named as : "',drop_col_name,'"')

 The DataFrame does not contain any column named as : " _merge "

In [42]:
df.head()

,activity_1,age_1,back_nevro_pow_1,back_nevro_reflex_1,back_nevro_sens_1,back_slr_1,birth_year,bmi_1,body_main_1,childhood_1,...,walk_aid_1,weight_1,work_ability_1,work_ability_3,work_ability_w2,work_ability_w4,work_ability_w8,work_type_1,clinic_id,patient_id
id,,,,,,,,,,,,,,,,,,,,,
0,slightly reduced,22.0,NaN,NaN,NaN,NaN,1998,27.636057,hip,very good,...,no walkaid,78,10,9,9.0,9.0,NaN,NaN,adam_saso,adam_saso_38888_1998
1,slightly reduced,23.0,NaN,NaN,NaN,NaN,1997,18.339100,knee,moderate,...,no walkaid,53,6,5,3.0,3.0,7.0,NaN,adam_saso,adam_saso_39151_1997
2,not reduced,21.0,NaN,NaN,NaN,not applicable,1999,20.160700,back,good,...,no walkaid,69,8,9,NaN,NaN,NaN,work demand much walking,adam_saso,adam_saso_39178_1999
3,quite reduced,27.0,NaN,NaN,NaN,no,1993,25.217360,back,difficult,...,no walkaid,67,6,7,5.0,5.0,4.0,mostly seated,adam_saso,adam_saso_39185_1993
4,very reduced,31.0,NaN,NaN,NaN,NaN,1989,24.464602,neck,very good,...,no walkaid,65,0,2,3.0,3.0,2.0,mostly seated,adam_saso,adam_saso_39442_1989

### Rounding of the float variables up to 2 decimal places

In [43]:
round_float_list = ['hscl_score_1',
                    #'ndi_total_1',  
                    #'odi_total_1',  
                    #'spadi_total_1',
                    #'outcome_allpercent',
                    
                    'hscl_score_3',
                    #'ndi_total_3',  
                    #'odi_total_3',
                    #'spadi_total_3'
                   ]

for col_name in round_float_list:
    print(col_name)
    df[col_name] = df[col_name].round(2)
    df_labeled[col_name] = df[col_name].round(2)
    #df_numeric[col_name] = df_numeric[col_name].round(2)
    
# df_labeled.hscl10_mean_1 = df_labeled.hscl10_mean_1.round(2)
# df_labeled.ndi_total_1   = df_labeled.ndi_total_1.round(2)
# df_labeled.odi_total_1   = df_labeled.odi_total_1.round(2)
# df_labeled.spadi_total_1 = df_labeled.spadi_total_1.round(2)
# 
# df_numeric.hscl10_mean_3 = df_numeric.hscl10_mean_3.round(2)
# df_numeric.spadi_total_3 = df_numeric.spadi_total_3.round(2)
# df_numeric.ndi_total_3   = df_numeric.ndi_total_3.round(2)
# df_numeric.odi_total_3   = df_numeric.odi_total_3.round(2)

hscl_score_1
hscl_score_3

In [44]:
# for testing
#print(df_labeled[ round_float_list][:5]);
#print(df_numeric[ round_float_list][:5]);

## Drop all empty columns

#### Issues with complete empty columns ????

print('Before drop : ', df.shape) # (506, 292)
df.dropna( how='all', axis=1, inplace=True)
print('After drop : ', df.shape) # (506, 279)

print('Before drop : ', df_labeled.shape) # (506, 292)
df_labeled.dropna( how='all', axis=1, inplace=True)
print('After drop : ', df_labeled.shape) # (506, 279)

#print('Before drop : ', df_numeric.shape) # (506, 292)
#df_numeric.dropna( how='all', axis=1, inplace=True)
#print('After drop : ', df_numeric.shape) # (506, 279)

## Function for removing all leading and trailing spaces in a dataframe

In [45]:
def remove_leading_trailing_spaces(tempdf=df):
    df_obj = tempdf.select_dtypes(['object'])
    tempdf[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
    return tempdf

## Function to repalce all characters of a string in a dataframe

In [46]:
def replace_all_with( old, new, tempdf=df):
    temp = tempdf.replace({old: new}, regex=True)
    return temp

df.employment_1 = replace_all_with( 'Working,', 'Working ', df.employment_1)
df.employment_1 = replace_all_with( 'Other: Student,retiree,non-paid work', 'Other: Student or retiree or non-paid work', df.employment_1)
df_labeled.employment_1 = replace_all_with( 'Working,', 'Working ', df_labeled.employment_1)
df_labeled.employment_1 = replace_all_with( 'Other: Student,retiree,non-paid work', 'Other: Student or retiree or non-paid work', df_labeled.employment_1)
if( df.columns.contains('employment_3')):
    df.employment_3 = replace_all_with( 'Working,', 'Working ', df.employment_3)
    df.employment_3 = replace_all_with( 'Other: Student,retiree,non-paid work', 'Other: Student or retiree or non-paid work', df.employment_3)
    df.employment_3.unique()

In [47]:
# Must throw exception
# df_numeric.employment_1 = replace_all_with( 'Working,', 'Working ', df_numeric.employment_1)
# df_numeric.employment_1.unique()

## Replace all special char

### 1. '>' is replaced with 'GT' (Greater Than) and '<' is replaced with 'LT' (Lower/Less Than)

In [48]:
#df_labeled.outcome_percent01.unique()

In [49]:
df = replace_all_with('>', 'GT ', df)
df = replace_all_with('≥', 'GT_EQ ', df)
df = replace_all_with('<', 'LT ', df)

df_labeled = replace_all_with('>', 'GT ', df_labeled)
df_labeled = replace_all_with('≥', 'GT_EQ ', df_labeled)
df_labeled = replace_all_with('<', 'LT ', df_labeled)

#df_numeric = replace_all_with('>', 'GT ', df_numeric)
#df_numeric = replace_all_with('<', 'LT ', df_numeric)

In [50]:
#df_labeled.outcome_percent01.unique()

### 2. '-'  to  ' - ' for readablity
### 3. ';'  to  ':' (colon) to compenseate the next statement (4.) 
### 4. ','  to  ';' (semicolon) since they represent multiple values for a given attribute, and they will result in a 'csv' file

In [51]:
df = replace_all_with( '-', ' - ', df)
df = replace_all_with( ';', ' : ', df)
df = replace_all_with( ',', ' ; ', df)

df_labeled = replace_all_with( '-', ' - ', df_labeled)
df_labeled = replace_all_with( ';', ' : ', df_labeled)
df_labeled = replace_all_with( ',', ' ; ', df_labeled)

#df_numeric = replace_all_with( '-', ' - ', df_numeric)
#df_numeric = replace_all_with( ';', ' : ', df_numeric)
#df_numeric = replace_all_with( ',', ' ; ', df_numeric)

### 5. '%'  to  ' percent' to resolve the special char ambiguity

In [52]:
df = replace_all_with( '%', ' percent', df)
df_labeled = replace_all_with( '%', ' percent', df_labeled)
#df_numeric = replace_all_with( '%', ' percent', df_numeric)

In [53]:
df = replace_all_with( '/', '_', df)
df_labeled = replace_all_with( '/', '_', df_labeled)

In [54]:
df.body_main_1.unique()

array(['hip', 'knee', 'back', 'neck', 'multisite_complex', 'shoulder'],
      dtype=object)

### 6. multiple spaces in the text to resolve the ambiguity in categorical values for myCBR

In [55]:
df = replace_all_with( '   ', ' ', df)
df = replace_all_with( '  ', ' ',  df)

df_labeled = replace_all_with( '   ', ' ', df_labeled)
df_labeled = replace_all_with( '  ', ' ',  df_labeled)

#df_numeric = replace_all_with( '   ', ' ', df_numeric)
#df_numeric = replace_all_with( '  ', ' ', df_numeric)

In [56]:
#df_labeled.treat_base[:50]

### 7. The attribute was originally like ''No, off and on', where  ',' was replaced to  ';'. But  ';' is the representation for multiple value thus we  need to convert  ';' to  ':' for its intended interpretation.

In [57]:
df.pain_continuous_1.head()

id
0     no
1     no
2     no
3    yes
4    yes
Name: pain_continuous_1, dtype: object

df.pain_continuous_1 = replace_all_with( 'No ; off and on', 'No : off and on',       df.pain_continuous_1)
df.pain_continuous_1 = replace_all_with( 'Yes ; all the time', 'Yes : all the time', df.pain_continuous_1)
df.pain_continuous_3 = replace_all_with( 'No ; off and on', 'No : off and on',       df.pain_continuous_3)
df.pain_continuous_3 = replace_all_with( 'Yes ; all the time', 'Yes : all the time', df.pain_continuous_3)
print(df.pain_continuous_1.unique())
print(df.pain_continuous_3.unique())

df_labeled.pain_continuous_1 = replace_all_with( 'No ; off and on', 'No : off and on',       df_labeled.pain_continuous_1)
df_labeled.pain_continuous_1 = replace_all_with( 'Yes ; all the time', 'Yes : all the time', df_labeled.pain_continuous_1)
df_labeled.pain_continuous_3 = replace_all_with( 'No ; off and on', 'No : off and on',       df_labeled.pain_continuous_3)
df_labeled.pain_continuous_3 = replace_all_with( 'Yes ; all the time', 'Yes : all the time', df_labeled.pain_continuous_3)
print(df_labeled.pain_continuous_1.unique())
print(df_labeled.pain_continuous_3.unique())

In [58]:
df_labeled.medic_number_1.unique()

array(['0', '1 - 4', nan, '5 or more'], dtype=object)

In [59]:
df.medic_number_1 = df.medic_number_1.replace({'-': 'to'}, regex=True)
df_labeled.medic_number_1 = df_labeled.medic_number_1.replace({'-': 'to'}, regex=True)
print(df.medic_number_1.unique())

df.medic_number_3 = df.medic_number_3.replace({'-': 'to'}, regex=True)
df_labeled.medic_number_3 = df_labeled.medic_number_3.replace({'-': 'to'}, regex=True)
print(df.medic_number_3.unique())
#df.treat_int_3 = df.treat_int_3.replace({'-': 'to'}, regex=True)
#df.treat_int_3.unique()

#df_labeled.treat_int_3 = df_labeled.treat_int_3.replace({'-': 'to'}, regex=True)
#df_labeled.treat_int_3.unique()

['0' '1 to 4' nan '5 or more']
['0' nan '1 to 4']

In [60]:
if( df.columns.contains('priokey')):
    df.priokey.unique()
    df.priokey = df.priokey.replace({';': '-'}, regex=True)
    df.priokey.unique()

/lhome/amardj/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  """Entry point for launching an IPython kernel.

df.employment_1.unique()

In [61]:
df.employ_1.unique()

array([' working or other', 'sick leave',
       'disability pension or work assessment'], dtype=object)

In [62]:
#df_numeric.employment_1.unique()

In [63]:
#temp_df.bmi_ca.unique()

In [64]:
df_labeled.shape  # (50, 310)

(51, 355)

In [65]:
df.shape  # (50, 310)

(51, 355)

In [66]:
#df.outcome_percent01 = df.outcome_percent01.replace({'â¥50': 'GT_EQ 50'}, regex=True)
#df.outcome_percent01.unique()

In [67]:
#df[['outcome_allpercent','outcome_percent','outcome_percent01']][:100]

In [68]:
#df_labeled.outcome_percent.unique()

In [69]:
#df_labeled.outcome_percent = df_labeled.outcome_percent.replace({'-': 'to'}, regex=True)
#df_labeled.outcome_percent = df_labeled.outcome_percent.replace({'change/worse': 'change_worse'}, regex=True)
#df_labeled.outcome_percent.unique()

## Remove leading or trailing spaces

In [70]:
df = remove_leading_trailing_spaces( tempdf=df)

df_labeled = remove_leading_trailing_spaces( tempdf=df_labeled)

#df_numeric = remove_leading_trailing_spaces( tempdf=df_numeric)

In [71]:
df.employ_1.unique()

array(['working or other', 'sick leave',
       'disability pension or work assessment'], dtype=object)

## Write the featured engineered dataframe to a "csv" file for myCBR analysis

In [72]:
df.to_csv( gen_data_loc+'2_sp_dataset_with_3_month'+ time_stamp +'.csv', index=True)

In [73]:
df.drop(df.filter(regex='_3').columns, axis=1);

exclude_cols = ['outcome01_3', 'outcome02_3']
df = df.drop((df.filter(regex='_3').columns).drop( exclude_cols), axis=1)
df[df.filter(like='_3',axis=1).columns]
df.head()

## Check for the outcome variables

In [74]:
df[ outcome_list].head()

    out01
id
0     0.0
1     0.0
2     NaN
3     0.0
4     0.0

In [75]:
df.to_csv( gen_data_loc+'2_sp_dataset_clean'+ time_stamp +'.csv', index=True)

## Remove all the columns containing Special symbols

In [76]:
special_char_col = [
                    #'physio_diagnosis',
                    'psfs1_act_1',
                    #'psfs2_act_1',
                    #'psfs3_act_1',
                    #'treat_base',
                    'treat_goal_1',
                   ]
#special_char_col = ['collab_typesp_3',
#                    #'comob_otherspec',
#                    'end_othersp_3',
#                    #'physio_diagnosis',
#                    'psfs1_act_1',
#                    'psfs1_act_3',
#                    'psfs2_act_1',
#                    'psfs2_act_3',
#                    'psfs3_act_1',
#                    'psfs3_act_3',
#                    #'psfs4_act_3',
#                    #'psfs5_act_3',
#                    'ref_othsp_3',
#                    'treat_adl_q6_3',
#                    'treat_advice_q15_3',
#                    #'treat_base',
#                    'treat_exothersp_3',
#                    'treat_goal_base',
#                    'treat_important_3',
#                    'treat_othsp_3',
#                    'treat_psychospec_3',
#                   ]

In [77]:
df[ special_char_col]

,psfs1_act_1,treat_goal_1
id,,
0,Turer i terreng_lengre avstander,Informasjon og veiledning om MR svar og videre...
1,Gå turer i terreng_toppturer,Få stabilitet om kneet og trygghet til å gjøre...
2,Jeg kan utføre alle aktiviteter nnormalt men t...,Avklare årsak til skjev rygg og vingescapula
3,Høyere aktivitet som fører til økt respirasjon,Bedre respirasjon (dyp) og bli kvitt smertene ...
4,Arbeidet_statisk som PC arbeidet,Lette hodepine og redusere smerte_stivhet nakk...
5,Gåtur,Lære verktøy for påfyll i hverdagen uten å ta ...
6,Skrive ; hekle ; strikke.,Jobbe med avspenning for dermed å forhåpetligv...
7,Kjøre bil,Bli bedre ; bli mindre stiv ; styrke muskulatur.
8,sitte med statisk arbeid,"Bli ""smertefri"" - moderert til mindre smerter ..."
9,Sove godt gjennom natta.,Smertefrihet.
10,Huksitting,Smertefrihet.
11,Gå langrennski.,Smertefrihet ; tillit til og god funksjon i ho...
12,Skrive på PC,Bli smertefri
13,Skøyting på rulleski_ski,Kune trene og konkurere for fullt innen skiori...
14,Armhevinger,Styrke muskulatur for å kunne løfte og trekke ...
15,Ta av en genser med armen foran kroppen,Unngå å bli sykemeldt. Klare vanlige daglige a...
16,Dra opp glidelåsen på jakke,Hun ønsker å bli smertefri. Kunne utføre dagli...
17,bevege seg_ gå med krykker,Bli sterkere for å kunne gå bedre med krykker ...
18,Komme tilbake til full jobb uten smerter,Smertefri og full jobb
19,Ski,Få hjelp til å mestre smertene og riktig tanke...
20,Tunge løft,mindre smerter - endre livsstil (kost ; søvn ;...
21,Støvsuging,Mindre smerter og bedre funksjon. Sterkere ryg...
22,Løping,Opprettholde arbeidsevnen og komme igang med s...
23,Gå vanlig,Fortsett være i 50 percent arbeid ; gå ned noe...
24,Sitt på huk - knebøy,Fungere best mulig i hverdag og jobb ; ned noe...
25,NaN,Være i fullt arbeid ; opprettholde aktivitetsn...
26,Strikking,Å bli smertefri i skulderen. Samt en generell ...
27,Løping på tredemølle,Gjenvinne normal funksjon med regelmessig trening
28,Normal funksjon på jobb,Normal funksjon på jobb og greie å gjennomføre...
29,Snu seg i senga,Gjenvinne normal funksjon og ikke bli så slite...
30,Å gå i oppoverbakke - fra Vinjebygget og opp t...,Målrettet ; regelmessig og tilpasset trening o...
31,Å løpe på mølla i 30 minutter 9 km_t på flat m...,3 mnd evaluering på gjennomføring og effekt av...
32,Å stå fremoverbøyd når han skal rydde ut av va...,Regelmessig tilpasset trening og aktivitet med...
33,Bære tunge matposer fra butikken til hjem ( 1p...,Regelmessighet i trening og aktivitet med mest...
34,Å kunne ta en joggetur på 30 min på mølle,Optimalisere funksjon i i uex (styrke ; uth. ;...
35,Utføre mønstertrening i tae kwon do (standardi...,Regelmessig tilpasset trening og aktivitet med...
36,"Å gå på en sti som ""luter til høyre"" (ankel i ...",Regelmessighet i trening og aktivitet med mest...
37,Å løfte barnebarn på 7 mnd fra golvet og opp t...,Optimalisere skulderfunksjon ved å ha regelmes...
38,Kjøre bil fra hjemmet til Lerkendal,Regelmessig tilpasset trening i hverdagen med ...
39,Å stelle seg på håret om morgenen med bruk av ...,Regelmessighet i trening og aktivitet med mest...
40,Søvn,Redusere hodepine og nakkesmerter
41,klatring,Ønsker forklaring på årsak og hjelp til forbed...
42,Gange på flatmark uten staver (500m),Gå 2 km i strekk uten å stoppe pga. ryggen.
43,Ta på strømper på venstre fot,Trene opp kneet til bedre funksjon
44,Jogging,Bedre funksjon og minske smerte i nakke og kjeve
45,Vanskelig å gå turer pga plager i knær,Kunne komme i bedre form
46,Gå tur i marka,Fjelltur på Ruten til høsten
47,støvsuging,Fungere _ klare de daglige aktiviteter hjemme
48,Statiske øvelser for armene,Smertefri
49,Ligging i sofa,Smertefri ; god funksjon ; slipper bekymring
50,Rotasjon hode,Smertefrihet. Normalisert bevegelighet

In [78]:
df_clean = df.drop( columns=special_char_col, axis=1) # [df.columns.tolist()-special_char_col]

In [79]:
df_clean.to_csv( gen_data_loc+'2_sp_dataset_no_special_symbols'+ time_stamp +'.csv', index=True)

numeric_list = ['hscl_score_1','oreb_score_1','oreb_q10_1','oreb_q7_1','pain_lweek_1','painsite_number_1','pseq_1','work_ability_1']
plt.figure( figsize=(10,8))
pd.DataFrame(df, columns=numeric_list).boxplot()